backend/.env
backend/node_modules
frontend/.env
cognito_premium_dashboard/
cognito_premium_landing_page/
cognito_solarpunk_dark/
premium_study_assistant/
stitch_cognito_premium_dark_redesign (1)/
frontend/node_modules
dist/
**/node_modules
.env
.DS_Store
backend/uploads/*
!backend/uploads/.gitkeep
